@font-face {
    font-family: Atari;
    src: url(Atari.ttf);
}

@-webkit-keyframes walk-l {
    from {
        background-position: -120px 0;
    }
    to {
        background-position: -360px 0;
    }
}

@-webkit-keyframes walk-r {
    from {
        background-position: -360px 0;
    }
    to {
        background-position: -600px 0;
    }
}

@-webkit-keyframes ground-r {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -200px 0;
    }
}

@-webkit-keyframes ground-l {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200px 0;
    }
}

html, body {
    font-family: Atari;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background: #A2A2A2;
    width: 9000px;
    overflow: hidden;
}

.character {
    position: fixed;
    left: 50%;
    bottom: 205px;
    width: 120px;
    height: 140px;
    margin-left: -60px;
    background: url(sprite.png) no-repeat 0 0;
    z-index: 3;
}

.character.walking-left {
    -webkit-animation: walk-l .5s steps(2) infinite;
}

.character.walking-right {
     -webkit-animation: walk-r .5s steps(2) infinite;
}

.character.test-l {
    margin-left: -200px;
    -webkit-animation: walk-l 1s steps(2) infinite;
}

.character.test-r {
    margin-left: 80px;
    -webkit-animation: walk-r 1s steps(2) infinite;
}

.ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1000%;
    height: 200px;
    background: url(tile.png);
    box-shadow: 0 0 5px #222;
    border-top: 5px solid #222;
    z-index: 1;
}

.ground.animate-left {
    -webkit-animation: ground-l 1s steps(5) infinite;
}
.ground.animate-right {
    -webkit-animation: ground-r 1s steps(5) infinite;
}
.ground.paused {
    -webkit-animation-play-state: paused;
}

.overlay {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 20em;
    margin-top: -10em;
    text-align: center;
    z-index: 999;
    cursor: pointer;
}

.overlay h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10em;
    color: white;
}

.overlay small {
    font-size: 4em;
    color: white;
}

.gate {
    float: left;
    height: 100%;
    background: black url(gate.png) repeat-x bottom center;
    width: 50px;
}

.wall {
    float: left;
    height: 100%;
    background: #1e1e1e;
    width: 50px;
}

.region {
    background: url(light.png) repeat-x;
    float: left;
    height: 100%;
}

.region.white {
    background: white;
}

.region.gray {
    background-color: #A2A2A2;
}

.region.blue {
    background-color: #98b0e7;
}

.region.red {
    background-color: #de9191;
}

#region-1 {
    width: 2000px;
}

#region-2 {
    width: 2100px;
}

#region-3 {
    width: 2000px;
}

#region-4 {
    width: 2650px;
}

#scenery-no-robots {
    position: absolute;
    left: 2200px;
    top: 100px;
    width: 400px;
    text-align: center;
    background: #D5D5D5;
    border: 5px solid #FF798E;

    display: none;
}

#scenery-labs {
    position: absolute;
    left: 1500px;
    top: 150px;
    width: 400px;
    text-align: center;
    background: rgba(0,0,0,.2);
}

#scenery-love-science {
    position: absolute;
    left: 3000px;
    top: 120px;
    width: 500px;
    text-align: center;
    color: white;
}

#scenery-love-science h1 {
    font-size: 6em;
    margin: 0;
}

#scenery-love-science span {
    color: #ff7777;
}

.scenery-desk {
    width: 160px;
    height: 98px;
    background: url(desk.png) no-repeat;
    position:absolute;
    z-index: 5;
    bottom: 205px;
}

.scenery-desk-pc {
    width: 160px;
    height: 114px;
    background: url(desk_pc.png) no-repeat;
    position:absolute;
    z-index: 5;
    bottom: 205px;
}

.scenery-desk-fluids {
    width: 160px;
    height: 114px;
    background: url(desk_fluids.png) no-repeat;
    position:absolute;
    z-index: 5;
    bottom: 205px;
}

#scenery-desk-1 { left: 2200px; }
#scenery-desk-2 { left: 2400px; }
#scenery-desk-3 { left: 2600px; }
#scenery-desk-4 { left: 2800px; }
#scenery-desk-5 { left: 3000px; }
#scenery-desk-6 { left: 3200px; }
#scenery-desk-7 { left: 3400px; }
#scenery-desk-8 { left: 3600px; }
#scenery-desk-9 { left: 3900px; }