@font-face {
    font-family: Atari;
    src: url(Atari.ttf);
}

@keyframes "walk-l" {
    from {
        background-position: -120px 0;
    }
    to {
        background-position: -360px 0;
    }
}

@-moz-keyframes walk-l {
 from {
   background-position: -120px 0;
 }
 to {
   background-position: -360px 0;
 }
}

@-webkit-keyframes "walk-l" {
 from {
   background-position: -120px 0;
 }
 to {
   background-position: -360px 0;
 }
}

@keyframes "walk-r" {
 from {
   background-position: -360px 0;
 }
 to {
   background-position: -600px 0;
 }
}

@-moz-keyframes walk-r {
 from {
   background-position: -360px 0;
 }
 to {
   background-position: -600px 0;
 }
}

@-webkit-keyframes "walk-r" {
 from {
   background-position: -360px 0;
 }
 to {
   background-position: -600px 0;
 }
}

@-webkit-keyframes "pc" {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -229px;
    }
}

@-webkit-keyframes "server" {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -200px 0;
    }
}

@-webkit-keyframes "fan" {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}


html,body {
    font-family: Atari;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background: #BEC9FF;
    width: 9000px;
    overflow: hidden;
}

.character {
    position: fixed;
    left: 50%;
    bottom: 205px;
    width: 120px;
    height: 140px;
    margin-left: -60px;
    background: url(sprite.png) no-repeat 0 0;
    z-index: 3;
}

.character.walking-left {
    -webkit-animation: walk-l .5s steps(2) infinite;
    -moz-animation: walk-l .5s steps(2) infinite;
    -ms-animation: walk-l .5s steps(2) infinite;
    animation: walk-l .5s steps(2) infinite;
}

.character.walking-right {
    -webkit-animation: walk-r .5s steps(2) infinite;
    -moz-animation: walk-r .5s steps(2) infinite;
    -ms-animation: walk-r .5s steps(2) infinite;
    animation: walk-r .5s steps(2) infinite;
}

.character.test-l {
    display: none;
    margin-left: -200px;

    -webkit-animation: walk-l 1s steps(2) infinite;
    -moz-animation: walk-l 1s steps(2) infinite;
    -ms-animation: walk-l 1s steps(2) infinite;
    animation: walk-l 1s steps(2) infinite;
}

.character.test-r {
    display: none;
    margin-left: 80px;

    -webkit-animation: walk-r 1s steps(2) infinite;
    -moz-animation: walk-r 1s steps(2) infinite;
    -ms-animation: walk-r 1s steps(2) infinite;
    animation: walk-r 1s steps(2) infinite;
}

.ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1000%;
    height: 200px;
    background: url(tile.png);

    -webkit-box-shadow: 0 0 5px #222;
    box-shadow: 0 0 5px #222;
    border-top: 5px solid #222;
    z-index: 1;
}

.gate {
    float: left;
    height: 100%;
    background: black url(gate.png) repeat-x bottom center;
    width: 50px;
}

.wall {
    float: left;
    height: 100%;
    background: #1e1e1e;
    width: 50px;
}

.region {
    background: url(light.png) repeat-x;
    float: left;
    height: 100%;
}

.region.dark {
    background: #555 url(light_off.png) repeat-x;
}

.region.darker {
    background: #222 url(light_off.png) repeat-x;
}

.region.gray {
    background-color: #A2A2A2;
}

.region.blue {
    background-color: #98b0e7;
}

.region.red {
    background: #de9191 url(light_off.png) repeat-x;
}

.ground-outside {
    position: absolute;
    z-index: 9;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: #5dc600;
    border-top: 5px solid #78ff00;
    box-shadow: 0 0 5px #78ff00;
}

#region-1 {
    width: 2000px;
}

#region-2 {
    width: 2100px;
}

#region-3 {
    width: 2000px;
}

#region-4 {
    width: 2650px;
}

#scenery-intro {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 20em;
    text-align: center;
}

#scenery-intro h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10em;
    color: white;
}

.overlay {
    background: black;
    position: fixed;
    left: -1000px;
    top: -1000px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10000;
    transition: opacity 2s;
}
.overlay.show {
    opacity: 1;
    left: 0;
    top: 0;
}

#outro {
    text-decoration: none;
    display: block;
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    line-height: 2em;
    margin-top: -1em;
    text-align: center;
    font-size: 10em;
    color: white;
}

#scenery-key-left {
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 9;
    margin-left: -238px;
    width: 100px;
    height: 100px;
    background: white url(key-left.png) no-repeat;
    background-size: 100%;
}

#scenery-key-right {
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 9;
    margin-left: 165px;
    width: 100px;
    height: 100px;
    background: white url(key-right.png) no-repeat;
    background-size: 100%;
}

#scenery-key-left.pressed, #scenery-key-right.pressed {
    background-position: 5px 5px;
}

#scenery-labs {
    position: absolute;
    left: 1500px;
    top: 150px;
    width: 400px;
    text-align: center;
    background: rgba(0,0,0,.2);
}

#scenery-love-science {
    position: absolute;
    left: 3000px;
    top: 120px;
    width: 500px;
    text-align: center;
    color: white;
}

#scenery-danger {
    position: absolute;
    left: 7500px;
    top: 120px;
    width: 1000px;
}

#scenery-danger h1 {
    margin: 0;
    color: red;
    text-shadow: 0 0 5px red;
    font-size: 4em;
}

#scenery-love-science h1 {
    font-size: 6em;
    margin: 0;
}

#scenery-love-science span {
    color: #ff7777;
}

.scenery-access-machine {
    height: 100px;
    width: 56px;
    background: url(access_machine.png) no-repeat;
    position: absolute;
    z-index: 5;
    bottom: 205px;
}

#scenery-access-machine-1 {
    left: 1980px;
}

.scenery-desk {
    width: 160px;
    height: 98px;
    background: url(desk.png) no-repeat;
    position: absolute;
    z-index: 5;
    bottom: 205px;
}

.scenery-desk-broken {
    width: 160px;
    height: 98px;
    background: url(desk_broken.png) no-repeat;
    position: absolute;
    z-index: 5;
    bottom: 205px;
}

.scenery-desk-pc {
    width: 160px;
    height: 114px;
    background: url(desk_pc.png) no-repeat 0 0;
    position: absolute;
    z-index: 5;
    bottom: 205px;
    -webkit-animation: pc 1s infinite steps(2);
}

.scenery-desk-pc-broken {
    width: 160px;
    height: 114px;
    background: url(desk_pc_broken.png) no-repeat 0 0;
    position: absolute;
    z-index: 5;
    bottom: 205px;
}

.scenery-desk-fluids {
    width: 160px;
    height: 114px;
    background: url(desk_fluids.png) no-repeat;
    position: absolute;
    z-index: 5;
    bottom: 205px;
}

.scenery-desk-fluids-broken {
    width: 160px;
    height: 114px;
    background: url(desk_fluids_broken.png) no-repeat;
    position: absolute;
    z-index: 5;
    bottom: 205px;
}

#scenery-desk-1 {
    left: 2200px;
}

#scenery-desk-2 {
    left: 2400px;
}

#scenery-desk-3 {
    left: 2600px;
}

#scenery-desk-4 {
    left: 2800px;
}

#scenery-desk-5 {
    left: 3000px;
}

#scenery-desk-6 {
    left: 3200px;
}

#scenery-desk-7 {
    left: 3400px;
}

#scenery-desk-8 {
    left: 3600px;
}

#scenery-desk-9 {
    left: 3900px;
}

.scenery-fan {
    position: absolute;
    width: 100px;
    height: 100px;
}

.scenery-fan .fins {
    width: 90px;
    height: 90px;
    margin: 5px;
    background: url(fan.png) no-repeat;
    position: absolute;
    -webkit-animation: fan 1.5s infinite steps(15);
}

.scenery-fan.dead .fins {
    -webkit-animation: none;
}

.scenery-fan .cover {
    width: 100px;
    height: 100px;
    background: url(fan_cover.png) no-repeat;
    position: absolute;
}

#scenery-fan-1 {
    left: 4500px;
    top: 80px;
}
#scenery-fan-2 {
    left: 4800px;
    top: 80px;
}
#scenery-fan-3 {
    left: 5100px;
    top: 80px;
}
#scenery-fan-4 {
    left: 5400px;
    top: 80px;
}
#scenery-fan-5 {
    left: 5700px;
    top: 80px;
}
#scenery-fan-6 {
    left: 6000px;
    top: 80px;
}

.scenery-server {
    position: absolute;
    width: 100px;
    height: 250px;
    bottom: 205px;
    background: url(server.png) no-repeat;
    -webkit-animation: server 2s infinite steps(2);
}

.scenery-server-dead {
    position: absolute;
    width: 100px;
    height: 250px;
    bottom: 205px;
    background: url(server_dead.png) no-repeat;
}

.scenery-server-red {
    position: absolute;
    width: 100px;
    height: 250px;
    bottom: 205px;
    background: url(server_red.png) no-repeat;
}

#scenery-server-1 {
    left: 4650px;
}

#scenery-server-2 {
    left: 4950px;
}

#scenery-server-3 {
    left: 5250px;
}

#scenery-server-4 {
    left: 5550px;
}

#scenery-server-5 {
    left: 5850px;
}

.text {
    opacity: 0;
    position: absolute;
    transition: 1s;
    color: white;
    z-index: 88;
    font-size: 2em;
}

.text.show {
    opacity: 1;
}